<h2>Address Book</h2>

<h4>Contact: </h4>

  <h1><%= @contact_id.first_name %> <%= @contact_id.last_name %></h1>
  <p><%= @contact_id.address %></p>
  <p><%= @contact_id.city %>, <%= @contact_id.state %> <%= @contact_id.zip %></p>

<a href='/'>Add another contact.</a>
