<h2>WorDeFINE</h2>

<div class="jumbotron">
  <h2><%= @word.term %>:</h2>
    <% @word.show_definitions.each do |definition|%>
      <h3><ul><%= definition %></ul></h3>
    <% end %>
</div>

  <h3>Enter a definition: <a href="/words/<%= @word.id %>"><%= @word.definition %></a></h3>

  <form action="/words/<%= @word.id %>/definitions" method="post">
    <div class="form-group">
      <label for="definition">Enter a new definition:</label>
      <input name="definition" id="definition"  class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>

  <h3><a href="/">return home</a></h3>
